#player-api.yt-card {
  right: 0 !important; margin-left: 0 !important;
  margin-right: 96px;
}

#player-api.yt-card .ytp-chrome-controls {
  width: 410px;
}

.video-stream html5-main-video {
  width: 410px;
  height: 231px;
}
